html{font-size: 100px; font-family: '微软雅黑'; }   
ul,ol{list-style-type: none;}
body,ul,ol,h1,h2,h3,h4,h5,h6,dl,dd,form,p{margin: 0px; padding: 0px;}
h1{display: none;}
img{display: block; width: 100%;}
a{text-decoration: none;}